<div class="wrapper">
  <div class="page-header header-filter">
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>
    <div class="squares square7"></div>
    <div class="container">
      <div class="content-center brand">
        <h1 class="h1-seo">Chris McClure</h1>
        <h3>
          A full-stack web developer with a specialization in RESTful APIs and a background in Supply Chain Management.
          <br />
          <a href="https://www.linkedin.com/in/christopher-mcclure-79675473/">LinkedIn</a> | <a href="https://github.com/cjmcclure1337">GitHub</a>
        </h3>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="section section-tabs">
      <div class="container">
        <div class="title"><h2 class="mb-3">Projects</h2></div>
        <div class="mb-3">
          <div class="text-uppercase font-weight-bold">
            <h4 class="mb-3">Condor Financial</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 ml-auto col-xl-5 mr-auto">
            <div class="card">
              <div class="card-header">
                <tabset class="nav-tabs-danger">
                  <tab>
                    <ng-template tabHeading>
                      <i class="tim-icons icon-spaceship"> </i> Summary
                    </ng-template>
                    <p>
                      A web application for a fictional financial institution that tracks 
                      various investment opportunities such as stocks and foreign 
                      currency exchange (forex) with frequent updates and also other 
                      types of investments such as a menu of sample certificates of 
                      deposit (CDs). You can freely add money to your account and 
                      invest it in these options, watching how your return evolves 
                      in real-time. <br />
                      <br />
                      <br />
                    </p>
                  </tab>
                  <tab>
                    <ng-template tabHeading>
                      <i class="tim-icons icon-settings-gear-63"> </i> Scope
                    </ng-template>
                    <p>
                      This project was done by a team of 6 people over the course of 
                      about 3 weeks. The Forex Marketplace API to update and display 
                      currency exchange rates and the Portfolio API to maintain all of 
                      a specific user’s investments in various assets were both solo 
                      projects by me developed as Express servers in Node.js using 
                      postgres to manage our data in SQL databases. On the front end, 
                      I implemented the components tied to those APIs and the full 
                      Buy/Sell functionalities for all assets. <br />
                    </p>
                  </tab>
                  <tab>
                    <ng-template tabHeading>
                      <i class="tim-icons icon-bag-16"> </i> Links
                    </ng-template>
                    <p>
                      <br />
                      <a href="https://condor-financial.web.app/">Deployed App</a> <br />
                      <br />
                      <a href="https://github.com/MicahWSmith/financewebapp">Front End Github Repo</a> <br />
                      <br />
                      <a href="https://github.com/cjmcclure1337/forex_server">Forex API Github Repo</a> <br />
                      <br />
                      <a href="https://github.com/cjmcclure1337/tpportfolioserver">Portfolio API Github Repo</a> <br />
                      <br />
                      
                    </p>
                  </tab>
                </tabset>
              </div>
            </div>
          </div>
          <div class="col-md-10 ml-auto col-xl-7 mr-auto">
            <img class="condor-screenshot" src="/assets/img/condor-home.png" alt="Condor Financial Home Page">
          </div>
        </div>
        <h4 class="mb-3">
          <div class="text-uppercase font-weight-bold">
            Gazort
          </div>
        </h4>
        <div class="row">
          <div class="col-md-10 ml-auto col-xl-7 mr-auto">
            <img class="condor-screenshot" src="/assets/img/gazort.png" alt="Gazort Main Screen">
          </div>
          <div class="col-md-10 ml-auto col-xl-5 mr-auto">
            <div class="card">
              <div class="card-header">
                <tabset class="nav-tabs-danger">
                  <tab>
                    <ng-template tabHeading>
                      <i class="tim-icons icon-spaceship"> </i> Summary
                    </ng-template>
                    <p>
                      A text-based game designed as a tribute to classic role-playing 
                      games both virtual and analog. <br />
                      <br />
                    </p>
                  </tab>
                  <tab>
                    <ng-template tabHeading>
                      <i class="tim-icons icon-settings-gear-63"> </i> Scope
                    </ng-template>
                    <p>
                      A solo exercise in a Node.js Express server to practice back-end routing and 
                      server-deployed web pages (with EJS).  <br />
                      <br />
                    </p>
                  </tab>
                  <tab>
                    <ng-template tabHeading>
                      <i class="tim-icons icon-bag-16"> </i> Links
                    </ng-template>
                    <p>
                      <a href="https://gazort.herokuapp.com/">Deployed App</a> <br />
                      <br />
                      <a href="https://github.com/cjmcclure1337/gazort">Github Repo</a> <br />
                    </p>
                  </tab>
                </tabset>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
